/*
 Some default styles to make each box visible */

.container {
	display: flex; 
	flex-direction: row; /* not required because its the default */
	flex-wrap: wrap;  /* Without this, flex will force all items to be placed in
						the same row, even though the width of each box below is
						specified as 300px */

	/* This border is present just so we can see the borders of the container */
	border: 10px solid goldenrod;

	/* Set the height of .container to be a minimum of 100% of the height of the
	   viewport, minimum meaning it could grow, but won't shrink */
	min-height: 100vh;
}
.box {
	/* A few properties for the font
	   color is a foreground color for 
	   whatever content is in the box */
	color:white;
	font-size: 100px;
	text-align: center;
	text-shadow:4px 4px 0 rgba(0,0,0,0.1);

	/* padding properties are used to generate space around an element's content, 
	   inside of any defined borders. 
	   
	   The box model, starting from the inside goes:
	   element,
	   padding,
	   border,
	   margin ... Adds white space 
	padding:10px;
	margin: 10px; */

	/* width: 300px; */
	width: 33.333333%;

	/* or do this since Margin isn't included as part of the box model */
	/* margin: 10px;
	width: calc(33.33333% - 20x); */
}
	
	/* Colors for each box */
	.box1 { background:#1abc9c;}
	.box2 { background:#3498db;}
	.box3 { background:#9b59b6;}
	.box4 { background:#34495e;}
	.box5 { background:#f1c40f;}
	.box6 { background:#e67e22;}
	.box7 { background:#e74c3c;}
	.box8 { background:#bdc3c7;}
	.box9 { background:#2ecc71;}
	.box10 { background:#16a085;}

